**/.git
**/.DS_Store
**/cache

**/node_modules
**/npm-debug.log

**/venv
**/.venv

**/__pycache__
**/*.pyc
**/build
**/dist

**/var
**/lib

**/egg*
**/*.egg*

**/tmp
**/.vscode/
**/.swagger-codegen/

**/.ipynb_checkpoints
**/*.log
**/*.env
